#as{
    color: aquamarine;
    font-size: 50px;
    border-radius: 2px;

}
#asd{
    color: red;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}
#asdf{
    color:blueviolet;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
#sdf{
    color:bisque;
    font-size: 38px;
}
#asf{
    color: rgb(100, 130, 140);
    font-size: 34px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}